{% extends "layout.html" %}

{% block title %}House{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/house.css') }}"/>
{% endblock %}

{% block main %}
	<form action="/" method="post">
		
		{{ form.csrf_token }}
		{{ form.passcode(readonly=true) }}
		
		<div class="buttons">
			<div id="_1" class="button">1</div>
			<div id="_2" class="button">2</div>
			<div id="_3" class="button">3</div>
			<div id="_4" class="button">4</div>
			<div id="_5" class="button">5</div>
			<div id="_6" class="button">6</div>
			<div id="_7" class="button">7</div>
			<div id="_8" class="button">8</div>
			<div id="_9" class="button">9</div>
			<div id="delete" class="button"><i class="fas fa-times"></i></div>
			<div id="_0" class="button">0</div>
			<button type="submit" id="submit" class="button"><i class="fas fa-check"></i></button>
		</div>
	
	</form>
{% endblock %}
