<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<form action="/register" method="post">
		<label>Username</label>
		<input name="username" type="text" />
		<label>Name</label>
		<input name="name" type="text" />
		<label>Surname</label>
		<input name="surname" type="text" />
		<label>Password</label>
		<input name="password" type="password" />
		<label>Repeat Password</label>
		<input name="repeat_password" type="password" />
		<label>Passcode</label>
		<input id="passcode" name="passcode" type="text" readonly>
		<button type="submit">Submit</button>
	</form>
	
	<script>
        	function getRandomPasscode() {
                	min = 0;
                	max = 10000000000;
                	return Math.floor(Math.random() * (max - min)) + min;
        	}
        	document.getElementById("passcode").value = getRandomPasscode();
	</script>
</body>

</html>
